<div class="rider-overview">
  <h1>Your team {{@team.length}}/{{this.MAX_RIDERS}}</h1>

  <RiderSearch
    disabled={{eq @team.length this.MAX_RIDERS}}
    @riders={{@riders}} @team={{@team}}
    @onSelectRider={{action @onSelectRider}}
  />

  <ul class="rider-overview-list">
    {{#each @team as |rider index|}}
      <li class="rider-overview-list-item">
        <img style={{concat "border-color: #" rider.color}} src={{rider.photoUri}} alt="Rider picture">
        <div>
          <span>{{rider.fullName}}</span>
          <span>{{rider.teamName}}</span>
        </div>
        <CrossButton @onClick={{action @onRemoveRider rider}}/>
      </li>
      {{#if (lt (sum index 1) @team.length)}}
        <hr>
      {{/if}}
    {{/each}}
  </ul>
</div>