<div class="tracker-loader">
  <RiderOverview
    @riders={{this.riders}}
    @team={{this.team}}
    @onSelectRider={{this.onSelectRider}}
    @onRemoveRider={{this.onRemoveRider}}
  />
  <div class="stage">
    {{#if this.stage}}
      <h2 class="stage-details">
        Stage {{this.stage.stageNumber}} | {{this.stage.departingTown}} to {{this.stage.arrivingTown}} | {{this.stage.totalDistance}}km  
      </h2>
    {{/if}}
    <RiderMap @route={{this.route}} @stage={{this.stage}} @team={{this.team}}/>
  </div>
</div>